{% extends 'myapp/base.html' %}
{% block content  %}

    {% comment %} <div class="card w-50 p-30 center">
        <img class="w-2/5" src="{{ p.image.url}}" alt="Denim Jeans" style="width:100%">
        <h1>{{p.name}}</h1>
        <p class="price">₹ {{p.price}}</p>
        <p>{{p.description}}</p>
        <br>
        <br> 
      </div> {% endcomment %}
        
        <div class="card w-96 bg-base-100 shadow-xl">
  <figure><img src="{{p.image.url}}" alt="Shoes" /></figure>
  <div class="card-body">
    <h2 class="card-title">{{p.name}}</h2>
    <p>{{p.description}}</p>
    <div class="card-actions justify-end">
      <button class="btn btn-primary">₹{{p.price}}</button>
    </div>
  </div>
</div>


      
      
      {% endblock  %}